.todoapp {
  border: 2px solid rgb(48, 17, 228);
  padding: 20px;
  width: 400px;
  margin: 2px;
  text-align: center;

}
.header {
  border: 2px solid rgb(17, 228, 35);
  margin: auto;
  width: 400px;
  padding: auto;
  word-wrap:normal;
  padding-top: -50px;
  margin: 5px;
}
.todo-logic
{
  border: 2px solid black;
  height: 300px;
  width: 400px;
  margin: 5px;
  
}
.Add-todo-container {
  border: 2px solid rgb(17, 16, 16);
  margin: 5px;
}
.Add-todo{
  position:justify-content;
  border:1px solid rgb(10, 10, 10);
  padding:auto;
  margin: 5px;
}
.todo-list
{
  border: 2px solid purple;
  height: 250px;
  margin: 5px;
  
}
.todo-item-form {
  display: flex;
  justify-content: space-between;
}
.todo-item-container {
  border: 2px solid red;
  margin-bottom: 5px;
}